* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: hsl(30, 38%, 92%);
}

.container {
  display: flex;
  height: 99vh;
  min-height: 625px;
  align-items: center;
  justify-content: center;
}

.product {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 0 5%;
}

.product-picture {
  background-image: url("./images/image-product-mobile.jpg");
  background-size: cover;
  border-radius: 10px 10px 0 0;
  background-position: center;
}

.product-info {
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.product-info > * {
  margin-top: 15%;
}

.product-type {
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  color: hsl(228, 12%, 48%);
  margin: 0;
}

.product-info h1 {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  color: hsl(212, 21%, 14%);
  line-height: 2.8rem;
}

.product-descr {
  font-family: "Montserrat", sans-serif;
  font-size: 0.87rem;
  color: hsl(228, 12%, 48%);
}

.price {
  display: flex;
  align-items: center;
}

.price__special {
  font-family: "Fraunces", serif;
  font-size: 3rem;
  color: hsl(158, 36%, 37%);
}

.price__original {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  margin: auto;
}

.product-info button {
  background-color: hsl(158, 36%, 37%);
  border-radius: 10px;
  border: hsl(158, 36%, 37%);
  height: 3rem;
  width: 100%;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

@media (min-width: 670px) {
  .product {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }

  .product-picture {
    width: 50%;
    background-image: url("./images/image-product-desktop.jpg");
    background-size: cover;
    border-radius: 10px 0 0 10px;
    background-position: center;
  }

  .product-info {
    width: 50%;
    border-radius: 0 10px 10px 0;
  }
}

.attribution {
  font-size: 0.7rem;
  text-align: center;
  position: fixed;
  z-index: -1;
  bottom: 0;
  width: 100%;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
